* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #2596be;
    color: black;
    font-family: 'calibri';
  }
  
  header {
    height: 120px;
    background-color: #9ccce4;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
  }
  
  section h1 {
    font-size: 44px;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }

  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    max-width: 216px;
    max-height: 216px;
    margin:20px;
  }

    @media only screen and (max-width: 769px){
    .container .box{
    flex-direction: column;
    }

    .container .box .dream{
    width: 100%;
    }

}

@media only screen and (max-width: 643px){
.container .heading{
  width: 100%;
}
.container .heading h3{
  font-size: 1em;

}

}

.button_section {
    width: auto;
    display:inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.button {
	background-color:#f1b879;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:17px 31px;
    margin-inline: 10px;
	text-decoration:none;
}
.button:hover {
	background-color:#f4bc7c;
}
.button:active {
	position:relative;
	top:1px;
}
